.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(8, 8, 8, 0.79);
    width: 1440px;
    height: 1254px;
    width: 100vw; /* Cover full width of the viewport */
    height: 100vh; /* Cover full height of the viewport */
}
.bg {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    width: 1335px;
    height: 964.3px;
}
.cancel {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 22px;
}
.nextStep {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
}
.button {
    width: 224px;
    border-radius: 8px;
    background-color: #000;
    border: 1px solid #444;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    color: #fff;
}
.buttongroup {
    position: absolute;
    top: 42px;
    left: 794.42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    text-align: center;
    color: #000;
}
.baselinecontent {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    background-color: #f7f7f7;
    width: 904px;
    height: 770px;
}
.uxDesigner {
    position: relative;
    letter-spacing: -0.02em;
    font-weight: 500;
}
.uxDesignerWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.onsiteWrapper {
    border-radius: 8px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    font-size: 16px;
    color: #212121;
}
.frameParent {
    position: absolute;
    top: 0px;
    left: 0.38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 24px;
}
.badiruStrLagos {
    position: absolute;
    top: 75.28px;
    left: 0px;
    letter-spacing: -0.02em;
    line-height: 27px;
    color: #727272;
}
.compensationmonth {
    position: absolute;
    top: 0px;
    left: 0.39px;
    letter-spacing: -0.02em;
    line-height: 27px;
    font-weight: 500;
}
.ngn10000 {
    position: absolute;
    top: 18.87px;
    left: 0px;
    font-size: 24.67px;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: #04a466;
}
.compensationmonthParent {
    position: absolute;
    top: 0.13px;
    left: 558.61px;
    width: 155.4px;
    height: 50.9px;
    color: #acacac;
}
.headercontentwrapperInner {
    position: absolute;
    top: 48.75px;
    left: 0.38px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    color: #0e0e0e;
    font-family: 'DM Sans';
}
.headercontentwrapper {
    width: 714px;
    position: relative;
    height: 102.3px;
}
.aboutTheJob {
    margin: 0;
}
.aboutTheJobContainer {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 22px;
    color: #0e0e0e;
}
.reuseabout {
    position: absolute;
    top: 33.62px;
    left: 98.69px;
    width: 718.8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 41px;
}
.rightBar {
    position: absolute;
    top: 163px;
    left: 215.42px;
    width: 904px;
    height: 770px;
    font-size: 16px;
}
.vectorIcon {
    width: 20px;
    position: relative;
    height: 20px;
}
.about {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    width: 178px;
    height: 50.6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
}
.applicationChild {
    width: 22.2px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #000;
    box-sizing: border-box;
    height: 22.2px;
}
.application {
    position: absolute;
    top: 1px;
    left: 185px;
    border-radius: 10px;
    width: 178px;
    height: 50.6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    box-sizing: border-box;
    gap: 10px;
    color: #000;
}
.leftBar {
    position: absolute;
    top: 99px;
    left: 289.42px;
    width: 363px;
    height: 51.6px;
    font-size: 18px;
}
.applyForTask1 {
    position: absolute;
    top: 86px;
    left: 49.58px;
    width: 1335px;
    height: 964.3px;
}
.applyForTask {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1136px;
    overflow: hidden;
    cursor: pointer;
    margin-top: 80px;
    text-align: left;
    font-size: 20px;
    color: #04a466;
    font-family: 'BR Hendrix';
}

