.firstName {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 22px;
}
.michael {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 22px;
}
.inputfield {
    width: 427px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.michaeltasksgmailcomWrapper {
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    text-align: center;
    color: #7e7e7e;
}

.inputclass {
    align-self: stretch;
    border-radius: 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    text-align: center;
    color: #7e7e7e;
}

.lastNameParent {
    width: 431px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.inputfieldParent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.emailAddressWrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frameContainer {
    width: 428px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.frameGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 19px;
}
.frameDiv {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 23px;
}
.frameParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 23px;
}
.createAccount {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 600;
}
.createAccountWrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #04a466;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 430px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 19px;
}
.dashIcon {
    width: 117.6px;
    position: relative;
    max-height: 100%;
}
.dashParent {
    position: absolute;
    top: 76px;
    left: 85.39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: #626262;
}
.googleIcon {
    width: 19.4px;
    position: relative;
    height: 19.8px;
}
.googleParent {
    position: absolute;
    top: 114px;
    left: 0px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    width: 431px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    gap: 10px;
    color: #282828;
}
.signIn {
    color: #04a466;
}
.alreadyHaveAnContainer {
    position: absolute;
    top: 183.05px;
    left: calc(50% - 90.16px);
    letter-spacing: -0.02em;
    line-height: 22px;
    color: #9f9f9f;
}
.groupDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 431px;
    height: 205.1px;
}
.registeraccountInner {
    width: 431px;
    position: relative;
    height: 205.1px;
    text-align: center;
}
.registeraccount1 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 26px;
}
.registeraccount {
    width: 100%;
    position: relative;
    border-radius: 15px;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 38px 94px;
    box-sizing: border-box;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: 'BR Hendrix';
}

