.fluentradioButton24FilledIcon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.personalAccount {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 22px;
    font-weight: 500;
}
.idealForIndividuals {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 22px;
    font-family: 'DM Sans';
    color: #d1d1d1;
}
.personalAccountParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.jobApplications {
    margin-bottom: 0px;
}
.jobApplicationsTracking {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
}
.blankLine {
    margin: 0;
}
.frameGroup {
    width: 341px;
    border-radius: 15px;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 34px 41px;
    box-sizing: border-box;
    gap: 28px;
}
.fluentradioButton24FilledParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.fluentradioButton24FilledGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
}
.frameParent {
    position: absolute;
    top: 108px;
    left: 95px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 44px;
}
.componentreuse {
    position: absolute;
    top: calc(50% - 307px);
    left: calc(50% - 570px);
    border-radius: 15px;
    background-color: #1b1b1b;
    width: 1140px;
    height: 615px;
    font-size: 24px;
    font-family: Roboto;
}
.goBackHome {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 600;
}
.goBackHomeWrapper {
    position: absolute;
    top: 776px;
    left: 67px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
    width: 226px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 19px;
    text-align: center;
    color: #0e0e0e;
}
.nextWrapper {
    width: 226px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 19px;
}
.frameWrapper {
    width: 226px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.createaccountInner {
    position: absolute;
    top: 776px;
    left: 321px;
    width: 226px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #0e0e0e;
}
.frameChild {
    align-self: stretch;
    position: relative;
    border-radius: 15px;
    background-color: #04a466;
    height: 4px;
}
.selectAccount {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
}
.rectangleParent {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.rectangleGroup {
    position: absolute;
    top: 20px;
    left: 236px;
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.frameInner {
    align-self: stretch;
    position: relative;
    border-radius: 15px;
    background-color: #d9d9d9;
    height: 4px;
}
.rectangleContainer {
    position: absolute;
    top: 20px;
    left: 472px;
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
}
.icsharpNavigateNextIcon {
    position: absolute;
    top: 0px;
    left: 196px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.icsharpNavigateNextIcon1 {
    position: absolute;
    top: 0px;
    left: 432px;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.groupDiv {
    position: absolute;
    top: 28px;
    left: 75px;
    width: 665px;
    height: 63px;
    font-size: 22px;
}
.createaccount {
    width: 1272px;
    position: relative;
    border-radius: 15px;
    background-color: #000;
    height: 866px;
}
.registercontain {
    width: 100%;
    position: relative;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 904px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 32px;
    text-align: left;
    font-size: 16px;
    color: #04a466;
    font-family: 'BR Hendrix';
}

