.frameChild {
    align-self: stretch;
    position: relative;
    border-radius: 15px;
    background-color: #04a466;
    height: 4px;
}
.selectAccount {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
}
.rectangleParent {
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.nextnavIcon {
    width: 22px;
    position: relative;
    height: 20px;
}
.frameInner {
    align-self: stretch;
    position: relative;
    border-radius: 15px;
    background-color: #d9d9d9;
    height: 4px;
}
.rectangleContainer {
    width: 193px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
}
.frameGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}
.radiobuttonIcon {
    width: 20px;
    position: relative;
    height: 20px;
}
.personalAccount {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 22px;
    font-weight: 500;
}
.idealForIndividuals {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    letter-spacing: 0.01em;
    line-height: 22px;
    font-family: 'DM Sans';
    color: #d1d1d1;
}
.personalAccountParent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.jobApplications {
    margin-bottom: 0px;
}
.jobApplicationsTracking {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: 21px;
}
.blankLine {
    margin: 0;
}
.frameDiv {
    width: 341px;
    border-radius: 15px;
    background-color: #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 34px 41px;
    box-sizing: border-box;
    gap: 28px;
}
.radiobuttonParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.uncheckParent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    color: #fff;
}
.frameContainer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 44px;
}
.reuseblecomp {
    align-self: stretch;
    border-radius: 15px;
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 91px 95px;
    font-size: 24px;
    font-family: Roboto;
}
.goBackHome {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 600;
}
.goBackHomeWrapper {
    width: 226px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 11px 19px;
}
.frameWrapper1 {
    width: 226px;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameWrapper {
    width: 226px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameParent2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 28px;
    text-align: center;
    font-size: 16px;
    color: #0e0e0e;
}
.frameParent {
    width: 1130px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 49px;
}
.createaccount {
    align-self: stretch;
    border-radius: 15px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 38px 67px;
}
.registercontain {
    width: 100%;
    position: relative;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 904px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 32px;
    text-align: left;
    font-size: 22px;
    color: #04a466;
    font-family: 'BR Hendrix';
}

