.verificationComplete {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 37px;
}
.checkIcon {
  width: 27px;
  position: relative;
  height: 27px;
}
.verificationCompleteParent {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.login {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  text-decoration: none;
}
.loginWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background-color: #04a466;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 430px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 11px 19px;
}
.frameWrapper {
  width: 430px;
  position: relative;
  height: 60px;
  text-align: center;
  font-size: 16px;
  font-family: 'BR Hendrix';
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.welcomeToYour {
  position: absolute;
  top: 0px;
  left: 0px;
  letter-spacing: 0.01em;
  line-height: 39px;
  display: inline-block;
  width: 761px;
}
.content {
  width: 761px;
  position: relative;
  height: 164px;
}
.footer1 {
  align-self: stretch;
  border-radius: 15px;
  background-color: #737373;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 33px 35px;
  box-sizing: border-box;
}
.pimageIcon {
  width: 103px;
  position: relative;
  border-radius: 11.7px;
  height: 103px;
  object-fit: cover;
}
.opeyemiMichaelAsere {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 17.17px;
}
.verifywhiteIcon {
  width: 16.7px;
  position: relative;
  height: 16px;
}
.opeyemiMichaelAsereParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.3px;
}
.managerTasklinkersLtd {
  align-self: stretch;
  position: relative;
  font-size: 12.48px;
  letter-spacing: 0.01em;
  line-height: 17.17px;
  color: #929292;
}
.frameGroup {
  width: 205.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.1px;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 17.9px;
  font-size: 15.61px;
}
.footerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px;
  font-size: 25px;
  font-family: 'DM Sans';
}
.verificationPeopel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
}
.footer {
  width: 100%;
  position: relative;
  border-radius: 15px;
  background-color: #1b1b1b;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 52px 82px;
  box-sizing: border-box;
  text-align: left;
  font-size: 28px;
  color: #fff;
  font-family: Roboto;
}

