.featuredSection {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    font-weight: 500;
}
.featuredSectionWrapper {
    width: 192px;
    border-radius: 20px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.exploreCategories {
    position: relative;
    font-size: 43px;
    letter-spacing: 0.01em;
    line-height: 60px;
    font-weight: 500;
    font-family: Roboto;
    color: #04a466;
    white-space: nowrap;
      
}
.exploreheader {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.plumbing {
    position: relative;
    letter-spacing: -0.02em;
}
.activeState {
    width: 120px;
    border-radius: 8px;
    background-color: #080808;
    border: 1px solid #565656;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
}
.inactiveState {
    width: 120px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.storekeepeerWrapper {
    width: 160px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.accountantWrapper {
    width: 147px;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.tags {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    font-size: 20px;
    font-family: 'BR Hendrix';
}
.downIcon {
    width: 14.5px;
    position: relative;
    height: 7.6px;
}
.timestampsort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}
.sortby {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 31px;
    font-size: 20px;
    color: #080808;
    font-family: 'BR Hendrix';
}
.headercontent {
    width: 867px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
}
.jobCardChild {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #fff;
    width: 386.7px;
    height: 257.3px;
}
.jobtitle {
    position: relative;
    letter-spacing: -0.02em;
    font-weight: 500;
    white-space: nowrap;
}
.jobtitleWrapper {
    position: absolute;
    top: 30px;
    left: 41px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 1px;
    font-size: 24px;
    color: #04a466;
}
.compensation {
    position: absolute;
    top: 169.33px;
    left: 40.8px;
    letter-spacing: -0.02em;
    line-height: 27px;
    font-weight: 500;
    color: #acacac;
}
.onsite {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 22px;
}
.jobtype {
    position: absolute;
    top: 188px;
    left: 284px;
    border-radius: 8px;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 19px;
    color: #212121;
}
.ngn10000 {
    position: absolute;
    top: 188.33px;
    left: 40.8px;
    font-size: 24.67px;
    letter-spacing: -0.02em;
    line-height: 42.17px;
    font-weight: 500;
}
.tasklinkersLtdWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.materialSymbolsverifiedRounIcon {
    width: 24px;
    position: relative;
    max-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
}
.employerstag {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}
.location {
    align-self: stretch;
    position: relative;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 27px;
    font-family: 'BR Hendrix';
    color: #727272;
    margin-top: -1px;
}
.employerstagParent {
    position: absolute;
    top: 79px;
    left: 41px;
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    font-family: 'DM Sans';
}
.jobCard {
    width: 386.7px;
    position: relative;
    height: 257.3px;
    flex-shrink: 0;
}
.jobDisplay {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto); /* 3 items per row */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 20px; /* Space between cards */
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.jobs {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    color: #0e0e0e;
    font-family: 'BR Hendrix';
}
.explorecontent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.seeMore {
    align-self: stretch;
    position: relative;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: -0.02em;
    font-family: 'BR Hendrix';
    text-align: center;
}
.fullexplore {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 67px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: 'DM Sans';
    margin-top: 180px;
}

