.featuredSection {
    width: 141px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 20px;
    display: inline-block;
    flex-shrink: 0;
}
.headersub {
    width: 192px;
    border-radius: 20px;
    background-color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.howItWorks {
    align-self: stretch;
    position: relative;
    font-size: 40px;
    letter-spacing: -0.02em;
    line-height: 60px;
    color: #fff;
    text-align: left;
}
.header {
    width: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.videojb {
    width: 904px;
    height: 551px;
    position: relative;
    border-radius: 20px;
    height: 549px;
}
.hitw {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
}
.howitworks {
    width: 100%;
    position: relative;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 0px 0px;
    background-color: #080808;
    height: 830.7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 67px 214px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #080808;
    font-family: 'BR Hendrix';
}

